/* General Styles */

body {
    background-color: #F3F0EB;
    font-family: Arial;
    height: 100%
}

iframe {
    display:block;
    width:100%;
    overflow: scroll;
    padding:20px 20px;
    height: 100%;
    width: 98%;
    position: absolute;
    z-index:-1;
}

/* Header Styles */
.site-banner {
    width: 100%;
    line-height: 75px;
    padding: 0 20px;
    position: relative;
}

.site-logo {
    width: 130px;
    height: 41px;
    vertical-align:middle;
}

site-logo-link:hover {
    text-decoration:none;
}

.site-title {
    font-weight: bold;
    font-size: 20px;
    vertical-align:middle;
    margin: 0 15px;
}

.site-nav-menu {
    width: 100%;
    background-image: url("images/nav_background.png");
    background-repeat: repeat-x;
}

#account-section{
    line-height: 1em;
    position: absolute;
    right: 0;
    top: 3px;
}

#account-section ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#account-section li{
    display: block;
    float:left;
    padding: 0 10px;
    position: relative;
    vertical-align: top;
}

#account-section li::after {
    border-left: 1px solid black;
    content: '';
    height: 11px;
    margin-top: -5.5px;
    position: absolute;
    left: 0;
    top: 50%;
}

#account-section li:first-child::after {
    border-left: none;
}

#account-section a{
    color: black;
    font-size: 11px;
    text-decoration: none;
}

#account-section a:hover{
    color: #5a5b5b;
}

/* Nav Menu Styles */
.menu-list {
    list-style-type: none;
    margin: 0 125px;
    padding: 0;
}

.menu-list-item {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display:inline-block;
    font-size: 12px;
    margin: 0 -3px;
    padding: 0 16px;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
}

.menu-list-item:hover {
    border-left-color: #444;
    border-right-color: #444;
    background-image: url("images/nav_menu_item_hover.png");
}

.menu-list-item-selected{
    background-image: url("images/nav_menu_item_hover.png");
    box-shadow: 0 0 9px #000 inset;
}
.menu-list-item-selected > a.menu-link{
    font-weight: bold;
}

.menu-list-item > .menu-link{
    line-height: 37px;
    color: #FFF;
}

.menu-link,
.menu-link:hover {
    text-decoration:none;
}

/* Dropdown Styles */
.dropdown-list {
    display: none;
    background-color:#FFF;
    -moz-box-shadow:    3px 3px 3px 3px #ccc;
    -webkit-box-shadow: 3px 3px 5px 3px #ccc;
    box-shadow:         3px 3px 5px 3px #ccc;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    list-style-type: none;
    padding: 0;
}

.dropdown-list-item{
    padding: 5px 15px;
}

.dropdown-list-item > .menu-link, .dropdown-list-item > a{
    color: #000;
}

.dropdown-list-item:hover, .dropdown-list-item:hover a{
    background-color: #316ac5;
    color: white;
}

.dropdown-list-item-selected:hover, .dropdown-list-item-selected:hover a{
    background-color: white;
    color: black;
    cursor: default;
}

.dropdown-list-item-selected > a.menu-link{
    font-weight: bold;
}

li:hover >  ul{
    color: #000;
    display: block;
    left: 0;
    position: absolute;
}

/* iFrames */
.zono-frames {
    overflow: scroll;
    margin: 20px 20px;
}