html, body{
    height: 100%;
    width: 100%;
}

body {
    background-color: #F3F0EB;
    font-family: Arial;
    overflow: hidden;
}

iframe {
    display:block;
    height: 100%;
    width: 100%;
    z-index: 0;
}