@if (ViewBag.Client != null)
{
    <iframe height='100%' width='100%' name='reportEmbed-Level_2_Assets_View' frameborder='0' scrolling='auto' allowTransparency='true' src='https://creator.zoho.com/@{ @ViewBag.Client }/udt-asset-managent/'></iframe>
}
else
{
    <div class="logo-container">
        <div class="home-logo"></div>
    </div>
}


